# Python3.6+
# for crawler base libs
wheel
requests
pillow
threadpool
beautifulsoup4
lxml
pymysql
SQLAlchemy
cloudscraper

# for image classification, deep learning libs
pandas
numpy
scipy
matplotlib
opencv-python
scikit-image
scikit-learn


# AES DES decode for windows,
pycryptodome