# Python3.6+
# for crawler base libs
wheel
requests
pillow
threadpool
beautifulsoup4
pymysql
SQLAlchemy

# for image classification, deep learning libs
pandas
numpy
scipy
matplotlib
opencv-python
scikit-image
scikit-learn